<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="platform_dashboard">
  <h2>Platform Dashboard</h2>

  <figure class="dashboard_graph">
    <figcaption>Current Vendor Statuses</figcaption>
    <%= bar_chart Vendor.vendor_status_count, discrete: true,
    colors: ["red"],
    library: { backgroundColor: "transparent",
               hAxis: {title: "Frequency"}} %>
  </figure>

  <div class="table_wrapper">
    <table class="larger-text bordered">
      <tr>
        <th>
          BLANK
        </th>
        <th>
          DESCRIPTION
        </th>
        <th>
          STATUS
        </th>
        <th>
          ACTION
        </th>
      </tr>
      <% @vendors.each do |vendor|%>
        <%= render partial: "vendor_row", locals: {vendor: vendor}%>
      <% end %>
    </table>
  </div>
</div>
