<h2>Vendor Collaborators</h2>

<%= link_to "Add Store Admin", new_vendor_user_path(vendor: current_user.vendor.url) %>

<table>
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Username</th>
        <th data-field="price">Email Address</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.username %></td>
      <td><%= user.email_address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
