<h5>Enter Username Of New Collaborator:</h5>

<%= form_for :new_collaborator, :url => vendor_users_path(vendor: current_vendor.url) do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>
<br>

<%= f.submit "Submit", class: "wave-effect waves-light btn" %>
<% end  %>
