<h2>All Orders</h2>
<h5>Pick up your orders here:</h5>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.555462685381!2d-105.00229984917226!3d39.74963537934742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c78c4f9a0b7ab%3A0xf712a29bb757e39e!2s1510+Blake+St%2C+Denver%2C+CO+80202!5e0!3m2!1sen!2sus!4v1454860144519" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="row">
  <div class="col s12 m12">
    <% @orders.reverse.each do |order| %>
      <%= render partial: "shared/order_card", locals: { order: order } %>
    <% end %>
    <br>
  </div> <!-- col s12 -->
</div> <!-- row -->
