<h2> <%= @category.name %> </h2>

<div class="category-show-list">
  <div class="contained_display">
    <% @items.each do |item| %>
    <div class="row">
      <%= render partial: "shared/category_item_card", locals: { item: item }%>
    </div>
    <% end %>
  </div>
</div>
