<div class="home_content_container">
  <h1 class = "home_title animated zoomIn"></h1>

    <div class="row shop_buttons">
      <div class="col s12 m6 l6 animated pulse">
        <%= link_to "Shop Vendors", vendors_path, class: "waves-effect waves-light btn"%>
      </div>

      <div class="col s12 m6 l6 animated pulse">
        <%= link_to "Shop Categories", categories_path, class: "waves-effect waves-light btn"%>
      </div>
    </div>
</div>
